.heroSection    {
    margin-top: 10px;
    padding: 0rem 12rem;
    height: 29vh;
    background: #495e57;

    display: flex;
}

.left-section    {
    margin-right: auto;
    max-width: 400px;
}

.headerText    {
    margin-top: 9px;
    color: #f4ce14;
    font-family: 'Markazi Text', serif;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
}

.chiText    {
    margin-top: -12px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 30px;
    font-family: 'Markazi Text', serif;
}

.briefText  {
    margin: 10px 0px;
    color: white;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    min-width: 240px;
    max-width: 300px;
}



.reserve-btn  {
    margin: 10px 0px;
    padding: 10px 25px;

}

@media only screen and (max-width: 600px) {
    .heroSection {
        padding: 0rem 2rem;
        height: 55vh;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-section    {
        margin-right: none;
        width: 100%;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .heroSection {
        padding: 0rem 3rem;
    }
  }