.header-section {
    height: 7vh;
    padding: 0rem 12rem;
    font-family: 'Markazi Text', serif;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.logo   {
    margin-right: 6rem;
}

@media only screen and (max-width: 600px) {
    .header-section {
        height: 4vh;
        padding: 0rem 1rem;
        display: flex;
    }

    .logo   {
        margin-left: 2rem;
        width: 100px;
    }

    .nav-body   {
        display: none;
    }
  }


/* font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif; */

