.header-section {
  height: 7vh;
  padding: 0rem 12rem;
  font-family: "Markazi Text", serif;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.logo {
  margin-right: 8rem;
}

.nav-list {
  margin: 0px;
  margin-right: 20px;
  padding: 0px;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

ul li .nav-link:hover {
  text-decoration: underline solid #495e57;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 3px 0px;
}

.dropdown-menu {
  position: relative;

  display: flex;
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.nav-link {
  display: flex;
  text-decoration: none;
  color: #495e57;
  letter-spacing: 1px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .header-section {
    padding: 0rem 1rem;
    height: 10vh;
    display: flex;
    justify-content: center;

    position: relative;
  }

  .logo {
    width: 140px;
    margin-left: 2rem;
    margin-right: auto;
  }

  .nav-body-list {
    display: none;
  }

  .menu-toggle {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
  }

  .menu-toggle:hover .bar {
    background-color: #f4ce14;
  }

  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;

    left: -255px;
    width: 300px;
    background-color: #4f4f4f;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
  }

  .nav-list.visible {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }

  .nav-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }

  .nav-list li:hover {
    background-color: #495e57;
  }

  .nav-link {
    text-decoration: none;
    color: #f4ce14;
    font-size: 17px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .header-section {
    padding: 0rem 3rem;
    height: 8vh;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .logo {
    margin-right: 4rem;
  }

  .menu-toggle {
    display: none;
  }

  .nav-list {
    width: 100%;
  }

  .nav-link {
    font-size: 18px;
  }
}
