.form-box {
  margin-top: 30px;
  background: #495e57;
  height: 50vh;
  padding: 2rem 12rem;
  white-space: nowrap;
}

.form {
  height: 50vh;
  width: 100%;
}

.form h2 {
  color: #f4ce14;
  font-family: "Markazi Text", serif;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.form-field {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.form-field label {
  color: white;
  font-family: "Markazi Text", serif;
  font-size: 25px;
  margin-right: 10px;
}

.form-field .input {
  background-color: #b6b5b59a;
  padding: 4px 10px;
  border: none;
  border-radius: 3px;
}

.confirmed--booking {
  padding: 1rem 12rem;
  background: #495e57;
  color: white;
  height: 20vh;
  font-family: "Markazi Text", serif;
  letter-spacing: 1px;
  white-space: nowrap;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmed--booking span {
  color: #f4ce14;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  .form-box {
    padding: 1rem 2rem;
  }

  .form-field {
    padding: 1rem;
  }

  .form h2 {
    font-size: 30px;
  }

  .confirmed--booking {
    padding: 1rem 3rem;
    font-size: 18px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
  .form-box {
    padding: 1rem 2rem;
  }

  .confirmed--booking {
    padding: 1rem 5rem;
    font-size: 23px;
  }
}

/* @media only screen and (min-width: 801px) and (max-width: 1200px) {
  .form-box {
    padding: 1rem 3rem;
  }

  
} */
